//
// nav {
//     width: 100%;
//     height: 100px;
//     box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.3);
//     div#logo {
//         height: 100px;
//         min-width: 50px;
//         position: relative;
//         > img {
//             width: 100%;
//             position: absolute;
//             top: 0;
//             bottom: 0;
//             left: 0;
//             right: 0;
//             margin: auto;
//         }
//     }
//     div#slogan {
//         display: flex;
//         align-items: center;
//         > p {
//             width: 100%;
//         }
//     }
// }

// .col-xs-* 超小屏幕如手机 （<768px）时使用；
// .col-sm-* 小屏幕如平板 （768px ≤ 宽度 ＜992px）时使用；
// .col-md-* 中等屏幕如普通显示器 （992px ≤ 宽度 ＜ 1200px）时使用；
// .col-lg-* 大屏幕如大显示器 （≥1200px）时使用。

.nav-navbar {
    .nav-item {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        &:hover {
            cursor: pointer;
        }
    }
}

html,
body,
#app,
.content {
    position: relative;
}

$nav_height: 100px;
$font_color: rgb(231, 231, 231);
footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #272727;
    // background: #272727;
    position: relative;
    bottom: 0;
}
@media screen and (min-width: 1240px) {
    @mixin spaceleft {
        margin-left: 10px;
    }
    @mixin conatiner {
        width: 1240px;
        margin: 0 auto;
        height: 100%;
        position: relative;
        // color: rgba($color: $font_color, $alpha: 1);
    }
    .nav {
        width: 100%;
        height: $nav_height;
        position: fixed;
        z-index: 99;
        transition: box-shadow 0.5s, background-color 0.7s;
        color: rgba($color: $font_color, $alpha: 1);

        &:hover {
            box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.6);
        }

        &[class*="active"] {
            box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.6);
            background: #fff;
            .nav-item {
                color: rgba($color: #272727, $alpha: 1) !important;
                p::after {
                    border-bottom: 1px solid #272727 !important;
                }
            }
        }

        .container {
            @include conatiner();
            display: flex;
            align-items: center;
            justify-content: space-between;
            div#logo {
                @include spaceleft;
                width: 120px;
                height: 100%;
                position: relative;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                }
            }
            .nav-navbar {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-end;
                height: 100%;
                // background: rgba($color: #000000, $alpha: .4);
                // overflow: hidden;
                .nav-item {
                    height: 100%;
                    text-decoration: none;
                    text-align: center;
                    box-sizing: border-box;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    padding: 0 2rem;
                    color: $font_color;
                    font-weight: 100;
                    &:hover {
                        p {
                            &::after {
                                transform: rotate(0deg) scale(1);
                            }
                        }
                    }
                    // margin: 10px;
                    p {
                        width: 100%;
                        height: 21px;
                        position: relative;
                        &::after {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: -10px;
                            margin: auto;
                            border-bottom: 1px solid $font_color;
                            transform: rotate(90deg) scale(0);
                            transition: all 0.3s;
                        }
                    }
                    &::after {
                        content: "/";
                        display: inline-block;
                        position: absolute;
                        right: 0;
                    }
                    &:nth-child(1) {
                        &::before {
                            content: "/";
                            display: inline-block;
                            position: absolute;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
    #body {
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // margin: auto;
        padding-top: $nav_height;
        height: 100%;
        box-sizing: border-box;
        background: url("/storage/img/b16.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑",
            Arial, sans-serif;

        #welcome {
            @include conatiner();
            color: $font_color;
            display: flex;
            align-items: center;
            justify-content: center;
            $backgroud: rgba(
                $color: #000000,
                $alpha: 0.7,
            );
            h2 {
                padding: 10px 50px;
                background: $backgroud;
                display: inline-block;
                position: relative;
                font-weight: 100;
                letter-spacing: 10px;
                text-align: center;
                text-indent: 10px;
                font-size: 2rem;

                span {
                    width: 40%;
                    text-align: center;
                    font-style: italic;
                    position: absolute;
                    bottom: 100%;
                    right: 10%;
                    letter-spacing: 0;
                    font-family: "Cardo", "Times New Roman", Times, serif;
                    // background: rgba($color: #000000, $alpha: .7);
                    word-spacing: 5px;
                    background: $backgroud;
                }
            }
        }

        #photo_display {
            background-color: #f4f4f4;
        }

        #content_display {
            background-color: #fff;
        }

        #photo_display,
        #content_display {
            width: 100%;
            box-sizing: border-box;
            .container {
                @include conatiner();
            }
        }
    }

    $width: 380px;
    $padding: 10px;
    .pannel_container {
        width: 100%;
        height: 100%;
        padding: 100px 0;
        text-align: center;
        span[class="time"] {
            display: block;
            font-size: 1rem;
            font-style: italic;
            color: #c9c9c9;
        }
        > div {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .essay_pannel {
            text-align: left;
            display: inline-block;
            box-sizing: border-box;
            width: 80%;
            padding: $padding;
            text-align: center;
            // border-left: #272727;
            // border-left-style: double;
            // background: #272727;
            color: #272727;
            // min-height: $width;

            .essay_title {
                // height: 50px;
                font-size: 25px;
                // line-height: 50px;
                p {
                    display: inline;
                    margin: 1rem;
                    border-bottom: 1px solid #fff;
                    padding-bottom: 10px;
                    &::before {
                        content: "「";
                    }
                    &::after {
                        content: "」";
                    }
                }
            }
            .essay_body {
                overflow: hidden;
                p {
                    text-indent: 1rem;
                    word-wrap: break-word;
                }
            }
            .essay_foot {
                padding-top: 10px;
                // text-align: right;
                > .button {
                    transition: transform 0.3s;
                    &:hover {
                        transform: scale(1.2);
                    }
                    text-decoration:1px solid;
                    color: #272727;
                    text-align: center;
                    display: inline-block;
                    height: 25px;
                    width: 25px;
                    line-height: 25px;
                    cursor: pointer;
                }
            }
        }
    }
    .img_pannel_container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .img_pannel {
            transition: box-shadow 0.5s;
            text-align: left;
            &:hover {
                box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.5);
            }
            background: #fff;
            padding: $padding;
            width: $width;
            .img {
                width: $width;
                height: $width / (16/9);
                > img {
                    width: 100%;
                    height: 100%;
                }
            }
            .img_desc {
                margin-top: $padding;
                padding-top: $padding/2;
                border-top: 1px dashed #aaa;
                .img_title {
                    height: 50px;
                    font-size: 25px;
                    line-height: 50px;
                    > p {
                        display: inline;

                        &::before {
                            content: "「";
                        }
                        &::after {
                            content: "」";
                        }
                    }
                }
                .img_body {
                    > p {
                        margin: 0.5rem 0;
                        word-wrap: break-word;
                        text-indent: 1rem;
                    }
                }
            }
        }
    }
}
