@charset "UTF-8";

html,
body,
#app {
  height: 100%;
}

#home {
  height: 100%;
  overflow: visible;
}

#home > section {
  height: 100%;
  overflow: hidden;
}

#home > section > nav {
  display: flex;
  height: 100%;
}

#home > section > nav .nav-item {
  height: 100%;
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: #272727;
  box-sizing: border-box;
  background-size: cover;
  padding-top: 3rem;
  position: relative;
}

#home > section > nav .nav-item:nth-child(1) {
  background-image: url("/storage/img/h-n-b1.jpg");
  transition: all 0.2s;
  background-color: #000;
}

#home > section > nav .nav-item:nth-child(2) {
  background-image: url("/storage/img/h-n-b2.jpg");
  transition: all 0.4s;
  background-color: #000;
}

#home > section > nav .nav-item:nth-child(3) {
  background-image: url("/storage/img/h-n-b3.jpg");
  transition: all 0.6s;
  background-color: #000;
}

#home > section > nav .nav-item .nav-name {
  font-size: 2rem;
  width: 2rem;
  padding: 2rem 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.2);
  color: #f2f2f2;
}

#home > section > nav .nav-item .nav-name::before {
  content: "\300C";
  display: block;
  height: 2rem;
  left: -2rem;
  font-weight: bold;
  top: -2rem;
  position: absolute;
}

#home > section > nav .nav-item .nav-name::after {
  content: "\300D";
  display: block;
  height: 2rem;
  right: -2rem;
  bottom: -2rem;
  font-weight: bold;
  position: absolute;
}

#home > section > nav .nav-item .desc {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 2rem;
  box-sizing: border-box;
  left: 0;
  top: 0;
  transform: scale(0);
}

#home > section > nav .nav-item .desc > .nav-desc {
  display: inline-block;
  font-size: 2rem;
  line-height: #f2f2f2;
  padding: 0 2rem;
  position: relative;
  vertical-align: middle;
  color: #f2f2f2;
}

#home > section > nav .nav-item .desc > .nav-desc::before {
  content: "\300C";
  display: block;
  left: -2rem;
  font-weight: bold;
  top: -1rem;
  position: absolute;
}

#home > section > nav .nav-item .desc > .nav-desc::after {
  content: "\300D";
  display: block;
  right: -2rem;
  bottom: -1rem;
  font-weight: bold;
  position: absolute;
}

#home > section > nav .nav-hide {
  transform: scale(0);
}

